/* code couleur
Rouge add button : D36F6F
*/
*{
    width: 100%;
 
}
body{
    max-height: 100%;
    font-family: 'lato',sans-serif;
    font-weight: 400;
    background-color: bisque;
    z-index: 1;
  
}
header{
    height: 5%;
}
main {
    height:85%;
}
footer{
    min-height: 10vh;
    background-color:gray
}
.copyright{
    text-align:right;
}
.newGame{
    height:10%;
    width: 100%
}
h1{
    text-align: center
}
.playGround{
    /* margin-top: 5em; */
height:50%;
width: 100%
}
.boardPart{
height:25%;
width: 100%
}
#currentPly1,#currentPly2{
    width:.5em
}
#plr1,
#plr2{
    font-weight: 700;
    font-size: 2.5rem;
  
}
.eventbtn{
    margin:1rem
}
.testBox{
    width: 15vw;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    border-radius: 9%;
    color: white;
    background-color: #D36F6F;
    line-height: 1.5rem;
}

.iconeImg{
    width: 30px;
    margin: 1rem;
}

.button{
    text-decoration: none;
    color: black;
}
.dice{
    width:35%;
    padding-top:5em
}
.end-party{
    z-index: 2;
    background-color: aqua;
    border: solid;
    height:100px;
    top: 50px;
   display: block;
    width:80%;
    height: 75%;
    position:fixed;
    left: 10%;

  
}