:root {
    --ff-primary:  'lato',sans-serif;
    --fw-thin:300;
    --fw-reg: 400;
    --fw-bold: 900;
  
    --clr-light: #ffd1d1;
    --clr-clear: #fbaaaa;
    --clr-medium: #D36F6F;
    --clr-dark: #831b1b;
  
    --fs-h1: 3rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: .85rem;

  }
*{
    width: 100%;
    margin: 0;
    padding: 0;
  
}
body{
    height: 100%;
    font-family: var(--ff-primary);
    background-color:var(--clr-light);
    z-index: 1;
}

 header{
    margin-top:-4vh;
    background-color: var(--clr-medium);
    height: 10vh;
}
main {
    min-height:80vh;
    margin-top:6vh;
}


footer{
    height:10vh;
    background-color:var(--clr-clear);
    border-top: solid 1px;
    border-color: var(--clr-dark);
    color: var(--clr-dark);
}
.title{
    font-style: italic;
    color:var(--clr-clear);
    padding-top:3vh;
    line-height: 1.5rem;
    text-align: center;
    font-weight:var( --fw-bold);
    font-size: var( --fs-h1);
}

.playGround,
.boardPart{
    margin-top: 6vh;
    height: 18vh;
}

.boardPart{
    padding-top:   3rem;
}

.btnText,
.btnHold {
    display: none;
    font-weight: var(--fw-reg);
}

#plr1,
#plr2{
    color: var(--clr-dark);
    font-size: var(--fs-h2);
    font-weight: 700;
    width: 25vw;
    margin-left:auto;
    margin-right:auto;
}

#holdScorePly1,
#holdScorePly2{
    color:  var(--clr-dark);
}
.current{
    width: 25vw;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    border-radius: 9%;
    color: var(--clr-light);
    background-color: var(--clr-medium);
    line-height: 1.5rem;
    font-size: var(--fs-body);
}

.button{
    text-decoration: none;
    color: var(--clr-dark);
}

.iconeImg {
    width: 30px;
    display: block;
    position: absolute;
    left: 7vw;
}

#currentPly1,#currentPly2{
    width:.5em
}

.dice{
    width:15vw;
    padding-top:2em
}

.diceStyle{height: 100%;}

.copyright{
    padding-top:.8rem;
    text-align:right;
    font-size: .5rem;
}

.creatParty{
    margin-top:20vh
}

.winnerTitle,
#winner{
    margin-top:10vh;
    text-align: center;
    color: var(--clr-dark);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.end-party{
    z-index: 2;
    background-color:var(--clr-clear);
    margin:auto ;
    padding:2vw;
    border: solid 1.5px;
    border-color: var(--clr-dark);
    border-radius: 5%;
    height:100px;
    top: 15vh;
   display: block;
    width:80%;
    height: 70%;
    position:fixed;
    left: 10%;

  
}
@media (min-width:699px) and (max-width:1018px)  {
    header{
        margin-top:-4vh;
    }

    .btnText,
    .btnHold {
        display: block
    }

    .iconeImg {
        left: 3vw;
    }
    
    .current{
        width: 22vw;
        height:12vh;
        line-height:1.8rem
    }
}


@media (min-width:1019px){
    .btnText,
    .btnHold {
        display: block;
        font-size: var(--fs-h3);
    }

    .iconeImg {
         left: 7vw;
    }

    .current{
        width: 22vw;
        height:15vh;
       line-height:3rem;
       font-size: var(--fs-h2);
    }
    
    .dice{
        width:10vw;
        padding-top:2em
    }
}